# Next.js
.next/
out/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Jest
.jest/
coverage/

# VS Code
.vscode/

# Docker
.dockerignore
